@model Cart
@{
    ViewData["Title"] = "Cart";
}

<h1>@ViewData["Title"]</h1>

<table class="table table-hover">
    <thead>
        <tr>
            <th></th>
            <th>Product</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Items)
        {
            <tr data-product-id="@item.Product.Id" class="cart-item">
                <td>
                    @foreach (var image in item.Product.Images)
                    {
                        <img src="@image.Src" width="50"
                             style="max-height: 50px" />
                    }
                </td>
                <td>
                    <b>@item.Product.Name</b>
                </td>
                <td>
                    <b>@item.Product.Price$</b>
                </td>
                <td>
                    <div>
                        <button style="min-width: 50px; min-height: 50px; font-size: 20px;" class="btn btn-outline-primary cart-item-button item-decrise">-</button>
                        <b class="btn " style="min-width:50px; font-size: 25px;">@item.Quantity</b>
                        <button style="min-width: 50px; min-height: 50px; font-size: 20px" class="btn btn-outline-primary cart-item-button item-incrise">+</button>
                        <button style="min-width: 50px; min-height: 50px; font-size: 20px" class="btn btn-outline-danger cart-item-button item-remove">X</button>
                    </div>
                    
                </td>
                <td>
                    <b>@(item.Quantity * item.Product.Price)$</b>
                </td>
                
            </tr>
        }
        <tr>
            <td colspan="4" class="text-end"><b>Total:</b></td>
            <td><b>$@Model.Items.Sum(x => x.Product.Price * x.Quantity)$</b></td>
        </tr>
    </tbody>
</table>

@section Scripts {
    <script src="~/js/cart.js" asp-append-version="true"></script>
}